In [1]:
import pandas
import numpy as np

In [2]:
checksongs = pandas.read_csv('dataset/deep_learning/label_map(boolean_mood).csv', sep='\t')
check = checksongs['track_id']
check.head(5)

0    TRAAAAW128F429D538
1    TRAAABD128F429CF47
2    TRAAAEF128F4273421
3    TRAAAFD128F92F423A
4    TRAABLR128F423B7E3
Name: track_id, dtype: object

In [16]:
df = pandas.DataFrame(columns=['username', 'track_id', 'rating'])

data_append = [['ali', 'TRAAAAW128F429D538', '4'],
              ['ali', 'TRAAABD128F429CF47', '4.5']]

for dt in data_append:
    df.loc[len(df)]=dt
df

  username            track_id rating
0      ali  TRAAAAW128F429D538      4
1      ali  TRAAABD128F429CF47    4.5